.text{
    
    background: linear-gradient(90.14deg, #45032C 4.34%, rgba(69, 3, 44, 0.78) 95.93%);
    border-radius: 10%;
}
.nvtext{
    color: #45032C ;
    
}
.bgrid{
    background: linear-gradient(180deg, #00131E 0%, rgba(11, 39, 54, 0.9) 30.21%, rgba(11, 39, 54, 0.88) 47.4%, rgba(11, 39, 54, 0.9) 68.23%, #0B2736 100%);
    height: 240px;
}

.cengrid{
     
        text-align: right;  
        width: 400px;  
        height: 50px;  
        padding-top: 50px;
        display: flex;  
        justify-content: center;  
        align-items: right;  
      
        }  

    .ftext{
        background:  #45032C;
       
        text-align: center;
      
 
    }    

    /* .fa {
        padding: 10px;
        font-size: 20px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
      } */
      .fa {  
        padding: 20px;  
      text-align: center;  
        margin: 5px 2px;  
        font-size: 30px;  
        width: 50px;  
      }  
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
      .fa-google {
        background: #dd4b39;
        color: white;
      }
      
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      
      .fa-youtube {
        background: #bb0000;
        color: white;
      }
      
      .fa-instagram {
        background: #125688;
        color: white;
      }
      .bimg {
        background-image: url('AI.png');

      
       background-repeat: no-repeat, repeat;
      }
      